[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
codecov = "*"
tox = "*"
pre-commit = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
autopep8 = "*"
isort = "*"
pydocstyle = "*"
mkdocs = "*"
mkdocstrings = "*"
mkdocs-material = "*"
Pygments = "*"

[requires]
python_version = "3.9"

[dev-packages]
pytest-benchmark = "*"
pytest-cov = "*"
black = "*"

[pipenv]
allow_prereleases = true
